@import 'td/code-dark';
.highlight pre {
  background-color: var(--td-pre-bg) !important;
}
/* custom footer coloring
.td-footer {
  background-color: red; // Use existing variable or define your own
  color: white;
}
 */